<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.png" %>
	</div>

	<div id="content">
		<h1> Hi! I'm User! </h1>
		<p> Vice four loko meh salvia. Marfa art party vegan next level Wes Anderson. Ennui ethical PBR, occupy keffiyeh tattooed Marfa cred wayfarers mumblecore Neutra. Beard iPhone locavore, try-hard taxidermy +1 cred Kickstarter Wes Anderson put a bird on it tote bag XOXO. Biodiesel sustainable Truffaut DIY viral. Stumptown sartorial distillery, disrupt Thundercats polaroid Neutra irony Bushwick leggings. Disrupt YOLO deep v, tofu scenester Banksy vinyl 90's artisan cornhole paleo pop-up.
		</p>
	</div>
</div>